* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 150px;
    overflow: visible;
    background-color: gray;
    display: flex;
    text-align: center;
}


#title,
#headFrm {
    font-family: calibri;
    display: block;
    width: 50%;
    padding: 10px;
    color: rgb(43, 114, 196);
}

#form {
    margin-top: 3%;
}

#title {
    width: 75%;
    text-align: left;
    font-size: 100px;
    padding-top: 0;
    margin-top: 10px;
}

h2 {
    margin-left: 30px;
    font-family: calibri;
    color: aqua;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: rgb(43, 114, 196);
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

label {
    padding: 10px;

}

input[type="radio"]+label {

    margin: 0.7em;
    cursor: pointer;
    padding: 0.2em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label::before {
    content: '\2714';
    color: transparent;
    border: 0.1em solid #000;
    border-radius: 20px;
    width: 2px;
    height: 0.2px;
    padding: 0em 0em;
    margin: 0px;
    font-size: 15px;
    padding-left: 2px;
    transition: 0.5s;
}

input[type="radio"]:checked+label::before {
    background-color: #FB0875;
}


input[type="radio"]:hover+label::before {
    border-color: #27ae60;
}

.pp {

    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0;
}

#searchblock {
    font-weight: bold;
    font-size: 30px;
    color: hsl(14, 83%, 16%);
    position: absolute;
    margin-left: 30px;
}

#searchContact {
    padding-top: 0px;
    margin: 10px;
    margin-top: 50px;
    margin-left: 150px;
    font-size: 30px;
    color: hsl(14, 83%, 16%);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid hsl(14, 83%, 16%);
    width: 220px;
    float: left;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    background-color: #16a085;
    border: 1px solid #16a085;
    padding: 5px;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    justify-items: auto;
    margin: 5% auto;
    background-color: #ecf0f1;
    width: 70%;
    border: 2px solid grey;
    overflow: auto;
    padding-left: 10px;
}

#frm {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid grey;
}

h2 {
    font-size: 35px;
    color: #34495e;
}

.addContact {
    padding-left: 15px;
    background-color: transparent;
    font-size: 20px;
    color: #34495e;
    border: none;
    border-bottom: 2px solid rgb(43, 114, 196);
}

#addCont {
    margin-left: 50%;
    background-color: rgb(43, 114, 196);

}

input[type="text"]::placeholder {

    font-size: 20px;
}

table {
    border-spacing: 0;
    width: 100%;
}


td {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 15px;
    border-bottom: 2px solid black;
}


tr:nth-child(even) {
    background-color: #FDF5F5;
}

tr:nth-child(odd) {
    background-color: #FDF5F5;
}

th {
    background-color: #ecf0f1;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid black;
}